html {
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 400;
    overflow-x: hidden;
    padding-top: 78px;
    color: #5f6061;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
}

.container {
    max-width: 1430px;
}

.top-menu {
    padding-bottom: 30px;
    display: flex;
    margin-right: -15px;
    margin-left: -15px;
    box-sizing: border-box;
}

.page-cols {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px 15px 40px;
    flex: 0 0 100%;
    width: 100%;
}

.main-body{
    display: flex;
    justify-content: space-between;
    flex: 0 0 100%;
    max-width: 100%;
}

.title {
    flex: 0 0 32%;
    max-width: 32%;
    position: relative;
    padding-left: 30px;
    padding-right: 15px;
}

.title-text {
    color: #98999a;
    width: 300px;
    height: 100px;
    border: 1px solid #98999a;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 0 0 67%;
    max-width: 67%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
    flex-flow: nowrap;
}

.navbar-links {
    flex-flow: row nowrap;
    flex-direction: row;
    display: flex;
    margin-left: auto;
    margin-right: 0;
    box-sizing: border-box;
    list-style: none;
}

.blurb-col {
    background-color: #ca9acd;
    width: 28.56%;
    justify-content: center;
    align-items: center;
    height: 440px;
}

.blurb-text {
    font-style: italic;
    color: white;
    text-align: right;
    line-height: 2;
    padding: 55px 25px 15px 15px;
    font-size: 1.3rem;
}

.image-col {
    width: 70%;
    margin-left: auto;
    margin-right: 0;
    height: 440px;
    display: flex;
    justify-content: center;
    background-color: #669999;
}

.nav-link {
    border: 1px solid #98999a;
    color: #98999a;
    width: 101px;
    height: 52px;
    text-align: center;
    margin-left: 25px;
    margin-right: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-body {
    height: 440px;
}

.main-body-right {
    width: 70%;
    margin-left: auto;
    margin-right: 0;
}

.main-body-header {
    color: #669999;
    margin-bottom: 45px;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.2;
    padding-left: 15px;
}

.main-body-text {
    margin-bottom: 50px;
    line-height: 2;
    margin-top: 0;
    padding-left: 15px;
}

.main-body-subhead {
    margin-bottom: 40px;
    color: #669999;
    font-size: 1.75rem;
    font-weight: 500;
    line-height: 1.2;
    margin-top: 0;
    box-sizing: border-box;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: center;
}

li {
    color: #999a9b;
    text-decoration: none;
    list-style: none;
}
